
@{
    ViewData["Title"] = "Nueva Vista para la tarea de la clase  7/10/2021";
}



<head>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

</head>

<h1 style="color:red" class=" animate__animated animate__backInDown">HOLA BIENVENIDO ESTAS SON LAS ANIMACIONES </h1>
<br />


<h3 style="color:aqua" class="animate__animated animate__bounce">Esta es una animación </h3>
<br />

<p style="color:darkblue" class="animate__animated animate__zoomInUp">Este es un parrafo para ejemplo de animaciones</p>


<details>
    <summary style="color:fuchsia" class="animate__zoomIn">
        Hola Aqui puede encontrar nuevos elementos
    </summary>
    <p class="animate__animated animate__bounce">Hola</p>
    <p style="color:blue" class=" animate__animated animate__shakeY">Soy .NetCore</p>
    <p class="animate__animated animate__swing">Como</p>
    <p style="color:blue" class="animate__animated animate__wobble ">Estas</p>
    <p class="animate__animated animate__heartBeat ">Este</p>
    <p style="color:blue" class="animate__animated animate__bounceIn">Dia </p>
    <p class="animate__animated animate__bounceInLeft">Espero</p>
    <p style="color:blue" class="animate__animated animate__flip">Se</p>
    <p class="animate__animated animate__fadeInDown">Encuentre</p>
    <p style="color:blue" class="animate__animated animate__flip">Muy</p>
    <p class="animate__animated animate__heartBeat ">Bien</p>
    <p style="color:blue" class="animate__animated animate__flipInY">Que</p>
    <p class="animate__animated animate__heartBeat">Tenga</p>
    <p style="color:blue" class="animate__animated animate__lightSpeedInRight">Un</p>
    <p class="animate__animated animate__rotateInDownRight">Lindo</p>
    <p style="color:blue" class="animate__animated animate__rotateInUpLeft">Dia</p>
    <p class="animate__animated animate__lightSpeedOutRight">Hasta</p>
    <p style="color:blue" class="animate__animated animate__flipOutX">Pronto!</p>
</details>


<br />
<br />

<h2 style="color:red" class="animate__animated animate__flash">ESTA ES LA PARTE DE LOS ICONOS</h2>




<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<span style="font-size: 3em; color: Tomato;">
    <i class="fas fa-camera"></i>
</span>
<br />
<span style="font-size: 48px; color: Dodgerblue;">
    <i class="fas fa-camera"></i>
</span>
<br />
<span style="font-size: 3rem;">
    <span style="color: Mediumslateblue;">
        <i class="fas fa-camera"></i>
    </span>
</span>
<br />


<br />
<span style="font-size :65px">
    <i class="fas fa-ambulance"></i>
</span>

<br />

<br />
<span style="font-size :65px">
    <i class="fas fa-car"></i>
</span>





<p style="color:red">Puede ver la fecha y  hora @DateTime.Now</p>