
@{
    ViewData["Title"] = "Insertar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="border-top-color:darkcyan">Actualizar</h1>
@using (Html.BeginForm("GuardarDatos", "Estudiante", FormMethod.Post))
{ 
<label for="StudentId">StudentId</label>
<br />
<input type="text" name="StudentId" value="@ViewBag.StudentId" />

    <label for="LastName">LastName</label>
    <br />
    <input  type="text" name="LastName" value="@ViewBag.LastName"/>
    <br />

    <label for="FirstMidName">FirstMidName</label>
    <br />
    <input type="text" name="FirstMidName" value="@ViewBag.FirstMidName"/>
    <br />

    <label for="ErollementsDate">ErollementsDate</label>
    <br />
   <input  type="text" name="ErollementsDate" value="@ViewBag.ErollementsDate"/>
   <br />

   <input style="color:red"  type="submit" value="Update"/>
}


